.message {
  width: 250px;
  border-radius: 10px;
  padding-top: 10px;
}

.message-yours {
  padding-left: 10px;
  align-self: flex-start;
  background: limegreen;
  color: black;
}

.message-not-yours {
  text-align: right;
  align-self: flex-end;
  padding-right: 10px;
  background: gray;
  color: white;
}
