.message-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  overflow: scroll;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.message-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message-container div {
  margin: 10px;
}

/* .message-form {
} */
.message-form--input {
  width: 350px;
}

.message-form--submit {
  width: 50px;
}
